Praticando pandas etc

In [4]:
import pandas as df

lista = { 
    "A": [1, 2, 3],
    "B": [4, 5, 6],
    "C": [10, 11, 12],}

df = pd.DataFrame(lista)

display(df)

df_trocado = df[["C", "B", "A"]]
display(df_trocado)

   A  B   C
0  1  4  10
1  2  5  11
2  3  6  12

    C  B  A
0  10  4  1
1  11  5  2
2  12  6  3