Praticando pandas etc

In [1]:
import pandas as pd

lista = { 
    "A": [1, 2, 3],
    "B": [4, 5, 6],
    "C": [10, 11, 12],}

df = pd.DataFrame(lista)

display(df)

df_trocado = df[["C", "B", "A"]]
display(df_trocado)

   A  B   C
0  1  4  10
1  2  5  11
2  3  6  12

    C  B  A
0  10  4  1
1  11  5  2
2  12  6  3

In [2]:
import pandas as pd

df = pd.read_excel("MachineOrders03.xls")
#display(df) # mostra nesse formato a tabela toda
df.head(2)  # imprime only as 2 primeiras linhas e todas as colunas

,Custno,Invdate,year,yearmonth,Invoice,SONO,Partno,descript,prodcl,Product Class,soldby,txnprice,Cur,Rate,totprice
0,294,2016-06-26,2016,2016-06,80956,70993.0,JSE8500,MACHINE GLAZE SPRAYER ECONOMY,72,Jelly Sprayer,HA,0.0,CAN,1.0,3890.0
1,2584,2016-06-27,2016,2016-06,80972,70435.0,COM1000iSV-EU-B,CAKEOMATIC 1000iSV - DEPOSIT EU,17,Cake-o-Matic,RO,0.0,CAN,1.0,21628.5

In [3]:
df.rename(columns = {"Invdate":"Data","SONO":"N_Cliente","Cur":"Moeda"}) #altera o nome das colunas

,Custno,Data,year,yearmonth,Invoice,N_Cliente,Partno,descript,prodcl,Product Class,soldby,txnprice,Moeda,Rate,totprice
0,294,2016-06-26,2016,2016-06,80956,70993.0,JSE8500,MACHINE GLAZE SPRAYER ECONOMY,72,Jelly Sprayer,HA,0.0000,CAN,1.000000,3890.00
1,2584,2016-06-27,2016,2016-06,80972,70435.0,COM1000iSV-EU-B,CAKEOMATIC 1000iSV - DEPOSIT EU,17,Cake-o-Matic,RO,0.0000,CAN,1.000000,21628.50
2,2584,2016-06-27,2016,2016-06,80972,70435.0,UVL1000iSV,UNIVERSAL 1000iSV,10,Universal,RO,0.0000,CAN,1.000000,27338.37
3,1258,2016-06-28,2016,2016-06,80975,70457.0,CDT3010SV-EU,COMPACT TABLETOP - SV EU NO-TABLE,34,Compact,MH,4486.7846,EUR,0.729927,6146.90
4,1258,2016-06-28,2016,2016-06,80975,70457.0,CDT3010SV-EU,COMPACT TABLETOP - SV EU NO-TABLE,34,Compact,MH,4486.7846,EUR,0.729927,6146.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,2114,2022-01-20,2022,2022-01,122028,105203.0,SCFG_HT800,SERIAL NO. HT3P-105203-009-01\nSERIAL NO. HT3P...,15,Hopper Topper,300,10767.9000,USD,0.779310,35206.27
6198,2114,2022-01-20,2022,2022-01,122028,105203.0,SCFG_PRO1005IFSSV,SERIAL NO. PRVF-105203-008-01\nSERIAL NO. PRVF...,13,Pro 1000,300,21211.9700,USD,0.779310,69353.79
6199,2114,2022-01-20,2022,2022-01,122028,105203.0,SCUS_Depositing Upgrades,SERIAL NO. CV-105203-010-01\n16ft Plastic Link...,45,Special Product,300,45428.2600,USD,0.779310,74265.18
6200,1258,2022-01-20,2022,2022-01,122029,107440.0,MAX_B-OP,MAX PIPEWORK - HT8200\nBALL VALVE KIT - MAX - ...,15,Hopper Topper,EU,9504.0000,EUR,0.689655,13780.80
6201,1258,2022-01-20,2022,2022-01,122029,107440.0,CDPV_A,COMPACT POWER LIFT - CDP3500SV\nSV VALVE - 190...,34,Compact,EU,7970.2500,EUR,0.689655,115568.65

In [4]:
#O debaixo esta realcionado com esse
df.rename(columns = {"Invdate":"Data","SONO":"N_Cliente", "Cur":"Moeda"}, inplace = True) 
#inplace = True -> se eu nao quero mostrar a nova tabela com as alteracoes (n imprime/display - so altera)

In [5]:
#O de cima esta realcionado com esse. Usa o de cima, e ai usa esse p/ mostrar a tabela c/ coluna alterada
df.head(2)

,Custno,Data,year,yearmonth,Invoice,N_Cliente,Partno,descript,prodcl,Product Class,soldby,txnprice,Moeda,Rate,totprice
0,294,2016-06-26,2016,2016-06,80956,70993.0,JSE8500,MACHINE GLAZE SPRAYER ECONOMY,72,Jelly Sprayer,HA,0.0,CAN,1.0,3890.0
1,2584,2016-06-27,2016,2016-06,80972,70435.0,COM1000iSV-EU-B,CAKEOMATIC 1000iSV - DEPOSIT EU,17,Cake-o-Matic,RO,0.0,CAN,1.0,21628.5

In [6]:
df["Moeda"]  # mostra o conteudo, o tipo da variavel da coluna Moeda

0       CAN
1       CAN
2       CAN
3       EUR
4       EUR
       ...
6197    USD
6198    USD
6199    USD
6200    EUR
6201    EUR
Name: Moeda, Length: 6202, dtype: object

In [7]:
type("Moeda")  # tipo da variavel da coluna Moeda eh uma string

str

In [8]:
nova_col = df["Moeda"] #criei uma nova variavel que recebera os dados da coluna moeda

In [9]:
type(nova_col)  #variavel tipo "series" (dataframe de uma unica coluna - unidimensional)

pandas.core.series.Series

In [10]:
df["Moeda"].value_counts() #contabiliza cada coluna

CAN    2447
USD    2177
EUR    1578
Name: Moeda, dtype: int64

In [11]:
df["Partno"].value_counts() #Machine ELF foi a que mais vendeu no periodo estudado

ELF4055SV                    331
CBD9000                      311
01664-00                     207
01661-00                     165
HT3P_B-OP                    127
                            ...
PRJG_Custom Delrin Die         1
187656-00                      1
SCFG_04368-00                  1
SCFG_XL Depositor Low Lev      1
SCFG_DualCompact SV TBA34      1
Name: Partno, Length: 1361, dtype: int64

In [12]:
df.columns   # lista todas as colunas

Index(['Custno', 'Data', 'year', 'yearmonth', 'Invoice', 'N_Cliente', 'Partno',
       'descript', 'prodcl', 'Product Class', 'soldby', 'txnprice', 'Moeda',
       'Rate', 'totprice'],
      dtype='object')

In [13]:
# Deletar as colunas q nao necessarias

df = df.drop(["Custno", "Data", "year", "yearmonth","Invoice", "N_Cliente", 
              "Partno", "descript", "prodcl", "soldby", "txnprice"], axis = 1) 

#df = df.drop(["Custno", ..., "txnprice"], axis = 1, inplace=True) #n imprimiria, mas faria alteracao


display(df)

        Product Class Moeda      Rate   totprice
0       Jelly Sprayer   CAN  1.000000    3890.00
1        Cake-o-Matic   CAN  1.000000   21628.50
2           Universal   CAN  1.000000   27338.37
3             Compact   EUR  0.729927    6146.90
4             Compact   EUR  0.729927    6146.90
...               ...   ...       ...        ...
6197    Hopper Topper   USD  0.779310   35206.27
6198         Pro 1000   USD  0.779310   69353.79
6199  Special Product   USD  0.779310   74265.18
6200    Hopper Topper   EUR  0.689655   13780.80
6201          Compact   EUR  0.689655  115568.65

[6202 rows x 4 columns]

In [14]:
df.describe() # mostra a estatistica descritiva para a(s) variavel(eis) quantitativa(s)

              Rate       totprice
count  6202.000000    6202.000000
mean      0.846596   22643.693194
std       0.132761   32287.634355
min       0.649357    2003.910000
25%       0.729927    8537.760000
50%       0.800000   12979.490000
75%       1.000000   23513.165000
max       1.000000  730000.000000

In [16]:
df.totprice.describe() # mostra a estatistica descritiva apenas para a coluna especificada (quantitativa)

count      6202.000000
mean      22643.693194
std       32287.634355
min        2003.910000
25%        8537.760000
50%       12979.490000
75%       23513.165000
max      730000.000000
Name: totprice, dtype: float64