### Organizando tabelas

In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt


lista = { 
    "Produto_A": [111, 222, 333],
    "Produto_B": [4, 5, 6],
    "Produto_C": [10, 11, 12],
    "Produto_D": [10, 11, 12],}

df = pd.DataFrame(lista)

display(df)

df_trocado = df[["Produto_D","Produto_C", "Produto_B", "Produto_A"]]
display(df_trocado)

   Produto_A  Produto_B  Produto_C  Produto_D
0        111          4         10         10
1        222          5         11         11
2        333          6         12         12

   Produto_D  Produto_C  Produto_B  Produto_A
0         10         10          4        111
1         11         11          5        222
2         12         12          6        333

### Trabalhando com lista

In [2]:
tamanho = len(lista)         # tamanho da lista
print(tamanho)

4

In [3]:
num = 20 # criei uma variavel chamada num que recebe o numero '20'

In [4]:
type(num)  # saber qual eh o tipo/classificacao da variavel "num"

int

In [5]:
#Quero transformar/converter essa variavel "num" inteiro em float

float(num)

20.0

In [6]:
A = [1, 2, 3]  #crie uma variavel chamada A que recebe 3 numeros inteiros

In [7]:
new = []                 # crio lista vazia e      
for i in A:              #p/ cd elemento dentro d lista A faca um append e armazena no formato float nesta lista
    new.append(float(i))
print(new)

[1.0, 2.0, 3.0]

### Trabalhando com colunas

In [8]:
import pandas as pd

df = pd.read_excel("MachineOrders03.xls")
#display(df) # mostra nesse formato a tabela toda
df.head(2)  # imprime only as 2 primeiras linhas e todas as colunas

,Custno,Invdate,year,yearmonth,Invoice,SONO,Partno,descript,prodcl,Product Class,soldby,txnprice,Cur,Rate,totprice
0,294,2016-06-26,2016,2016-06,80956,70993.0,JSE8500,MACHINE GLAZE SPRAYER ECONOMY,72,Jelly Sprayer,HA,0.0,CAN,1.0,3890.0
1,2584,2016-06-27,2016,2016-06,80972,70435.0,COM1000iSV-EU-B,CAKEOMATIC 1000iSV - DEPOSIT EU,17,Cake-o-Matic,RO,0.0,CAN,1.0,21628.5

In [9]:
df.rename(columns = {"Invdate":"Data","SONO":"N_Cliente","Cur":"Moeda"}) #altera o nome das colunas

,Custno,Data,year,yearmonth,Invoice,N_Cliente,Partno,descript,prodcl,Product Class,soldby,txnprice,Moeda,Rate,totprice
0,294,2016-06-26,2016,2016-06,80956,70993.0,JSE8500,MACHINE GLAZE SPRAYER ECONOMY,72,Jelly Sprayer,HA,0.0000,CAN,1.000000,3890.00
1,2584,2016-06-27,2016,2016-06,80972,70435.0,COM1000iSV-EU-B,CAKEOMATIC 1000iSV - DEPOSIT EU,17,Cake-o-Matic,RO,0.0000,CAN,1.000000,21628.50
2,2584,2016-06-27,2016,2016-06,80972,70435.0,UVL1000iSV,UNIVERSAL 1000iSV,10,Universal,RO,0.0000,CAN,1.000000,27338.37
3,1258,2016-06-28,2016,2016-06,80975,70457.0,CDT3010SV-EU,COMPACT TABLETOP - SV EU NO-TABLE,34,Compact,MH,4486.7846,EUR,0.729927,6146.90
4,1258,2016-06-28,2016,2016-06,80975,70457.0,CDT3010SV-EU,COMPACT TABLETOP - SV EU NO-TABLE,34,Compact,MH,4486.7846,EUR,0.729927,6146.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6197,2114,2022-01-20,2022,2022-01,122028,105203.0,SCFG_HT800,SERIAL NO. HT3P-105203-009-01\nSERIAL NO. HT3P...,15,Hopper Topper,300,10767.9000,USD,0.779310,35206.27
6198,2114,2022-01-20,2022,2022-01,122028,105203.0,SCFG_PRO1005IFSSV,SERIAL NO. PRVF-105203-008-01\nSERIAL NO. PRVF...,13,Pro 1000,300,21211.9700,USD,0.779310,69353.79
6199,2114,2022-01-20,2022,2022-01,122028,105203.0,SCUS_Depositing Upgrades,SERIAL NO. CV-105203-010-01\n16ft Plastic Link...,45,Special Product,300,45428.2600,USD,0.779310,74265.18
6200,1258,2022-01-20,2022,2022-01,122029,107440.0,MAX_B-OP,MAX PIPEWORK - HT8200\nBALL VALVE KIT - MAX - ...,15,Hopper Topper,EU,9504.0000,EUR,0.689655,13780.80
6201,1258,2022-01-20,2022,2022-01,122029,107440.0,CDPV_A,COMPACT POWER LIFT - CDP3500SV\nSV VALVE - 190...,34,Compact,EU,7970.2500,EUR,0.689655,115568.65

In [10]:
#O debaixo esta relacionado com esse
df.rename(columns = {"Invdate":"Data","SONO":"N_Cliente", "Cur":"Moeda"}, inplace = True) 
#inplace = True -> se eu nao quero mostrar a nova tabela com as alteracoes (n imprime/display - so altera)

In [11]:
#O de cima esta realcionado com esse. Usa o de cima, e ai usa esse p/ mostrar a tabela c/ coluna alterada
df.head(2)

,Custno,Data,year,yearmonth,Invoice,N_Cliente,Partno,descript,prodcl,Product Class,soldby,txnprice,Moeda,Rate,totprice
0,294,2016-06-26,2016,2016-06,80956,70993.0,JSE8500,MACHINE GLAZE SPRAYER ECONOMY,72,Jelly Sprayer,HA,0.0,CAN,1.0,3890.0
1,2584,2016-06-27,2016,2016-06,80972,70435.0,COM1000iSV-EU-B,CAKEOMATIC 1000iSV - DEPOSIT EU,17,Cake-o-Matic,RO,0.0,CAN,1.0,21628.5

In [12]:
df["Moeda"]  # mostra o conteudo, o tipo da variavel da coluna Moeda

0       CAN
1       CAN
2       CAN
3       EUR
4       EUR
       ...
6197    USD
6198    USD
6199    USD
6200    EUR
6201    EUR
Name: Moeda, Length: 6202, dtype: object

In [13]:
type("Moeda")  # tipo da variavel da coluna Moeda eh uma string

str

In [14]:
nova_col = df["Moeda"] #criei uma nova variavel que recebera os dados da coluna moeda

In [15]:
type(nova_col)  #variavel tipo "series" (dataframe de uma unica coluna - unidimensional)

pandas.core.series.Series

In [16]:
df["Moeda"].value_counts() #contabiliza cada coluna

CAN    2447
USD    2177
EUR    1578
Name: Moeda, dtype: int64

In [17]:
df["Partno"].value_counts() #Machine ELF foi a que mais vendeu no periodo estudado

ELF4055SV                    331
CBD9000                      311
01664-00                     207
01661-00                     165
HT3P_B-OP                    127
                            ...
PRJC_24" Uni-Dopositor         1
CDPV_H3.0-H-HHN                1
SCFG_LRT2020i                  1
PRJG_SERVO MULTI M6            1
143185-00                      1
Name: Partno, Length: 1361, dtype: int64

In [18]:
df.columns   # lista todas as colunas

Index(['Custno', 'Data', 'year', 'yearmonth', 'Invoice', 'N_Cliente', 'Partno',
       'descript', 'prodcl', 'Product Class', 'soldby', 'txnprice', 'Moeda',
       'Rate', 'totprice'],
      dtype='object')

In [19]:
# Deletar as colunas q nao necessarias

df = df.drop(["Custno", "Data", "year", "yearmonth","Invoice", "N_Cliente", 
              "Partno", "descript", "prodcl", "soldby", "txnprice"], axis = 1) 

#df = df.drop(["Custno", ..., "txnprice"], axis = 1, inplace=True) #n imprimiria, mas faria alteracao


display(df)

        Product Class Moeda      Rate   totprice
0       Jelly Sprayer   CAN  1.000000    3890.00
1        Cake-o-Matic   CAN  1.000000   21628.50
2           Universal   CAN  1.000000   27338.37
3             Compact   EUR  0.729927    6146.90
4             Compact   EUR  0.729927    6146.90
...               ...   ...       ...        ...
6197    Hopper Topper   USD  0.779310   35206.27
6198         Pro 1000   USD  0.779310   69353.79
6199  Special Product   USD  0.779310   74265.18
6200    Hopper Topper   EUR  0.689655   13780.80
6201          Compact   EUR  0.689655  115568.65

[6202 rows x 4 columns]

In [20]:
print(df.info())  # info ->verifica celulas vazias - imprimira um resumo de qtos valores nao nulos estao na tabela
                # essa forma tem que contar o complementar para saber qtas estao vazias. Ai entra a outra forma df.isna

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6202 entries, 0 to 6201
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product Class  6202 non-null   object
 1   Moeda          6202 non-null   object
 2   Rate           6202 non-null   float64
 3   totprice       6202 non-null   float64
dtypes: float64(2), object(2)
memory usage: 193.9+ KB
None

In [21]:
#df.isna().sum()
print(df.isna().sum())

Product Class    0
Moeda            0
Rate             0
totprice         0
dtype: int64

In [22]:
df.describe() # mostra a estatistica descritiva para a(s) variavel(eis) quantitativa(s)

              Rate       totprice
count  6202.000000    6202.000000
mean      0.846596   22643.693194
std       0.132761   32287.634355
min       0.649357    2003.910000
25%       0.729927    8537.760000
50%       0.800000   12979.490000
75%       1.000000   23513.165000
max       1.000000  730000.000000

In [23]:
round(df.totprice.describe()) # mostra a estatistica descritiva apenas para a coluna especificada (quantitativa)

count      6202.0
mean      22644.0
std       32288.0
min        2004.0
25%        8538.0
50%       12979.0
75%       23513.0
max      730000.0
Name: totprice, dtype: float64

In [24]:
#import matplotlib.pylot as plt
#dados.boxplot(column="totprice") ou lista de variaveis #dados.boxplot(column=["Rate","totprice"])
#plt.show()

### Trabalhando com linhas

In [25]:
df.loc[[0, 3]]  #df.loc[[0]] p/ uma unica linha. loc eh p/ filtrar linhas e puxa isso pelo indice OU
                # linha especifica -> df.loc[0:3]

   Product Class Moeda      Rate  totprice
0  Jelly Sprayer   CAN  1.000000    3890.0
3        Compact   EUR  0.729927    6146.9

In [29]:
df.loc[df["Product Class"]=="Universal"]  # selecionando no Dataframe, na col. Prod. Class somente as linhas "Universal"

     Product Class Moeda      Rate  totprice
2        Universal   CAN  1.000000  27338.37
13       Universal   EUR  0.729927  11794.29
17       Universal   CAN  1.000000  27338.37
20       Universal   EUR  0.729927   9866.32
21       Universal   CAN  1.000000  15491.74
...            ...   ...       ...       ...
6115     Universal   CAN  1.000000  29111.60
6130     Universal   CAN  1.000000  14712.60
6155     Universal   USD  0.779310  26629.21
6181     Universal   EUR  0.689655  11523.95
6184     Universal   EUR  0.689655  25243.93

[477 rows x 4 columns]